extends layouts/app

block seo
  title Homepage

block content
  // Banner
  section#banner
    .content
      header
        h1
          | Hi, I’m Mycelium
          br
          | 											by OneNetwork
        p A free and fully responsive site template
      p
        | Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
      ul.actions
        li
          a.button.big(href='#') Learn More
    span.image.object
      img(src='images/pic10.jpg', alt='')
  // Section
  section
    header.major
      h2 Erat lacinia
    .features
      article
        span.icon.fa-gem
        .content
          h3 Portitor ullamcorper
          p
            | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
      article
        span.icon.solid.fa-paper-plane
        .content
          h3 Sapien veroeros
          p
            | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
      article
        span.icon.solid.fa-rocket
        .content
          h3 Quam lorem ipsum
          p
            | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
      article
        span.icon.solid.fa-signal
        .content
          h3 Sed magna finibus
          p
            | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  // Section
  section
    header.major
      h2 Ipsum sed dolor
    .posts
      article
        a.image(href='#')
          img(src='images/pic01.jpg', alt='')
        h3 Interdum aenean
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More
      article
        a.image(href='#')
          img(src='images/pic02.jpg', alt='')
        h3 Nulla amet dolore
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More
      article
        a.image(href='#')
          img(src='images/pic03.jpg', alt='')
        h3 Tempus ullamcorper
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More
      article
        a.image(href='#')
          img(src='images/pic04.jpg', alt='')
        h3 Sed etiam facilis
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More
      article
        a.image(href='#')
          img(src='images/pic05.jpg', alt='')
        h3 Feugiat lorem aenean
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More
      article
        a.image(href='#')
          img(src='images/pic06.jpg', alt='')
        h3 Amet varius aliquam
        p
          | Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        ul.actions
          li
            a.button(href='#') More