body{
    background-color: #1b201c;
    color: #c5fb4c;
}

.box {
    background-color: #dbf5b3;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

img {
    height: 450px;
    width: 450px;
}