#blog-section {
    padding: 100px 0;
    background-color: #f9fafc;
}

#blog-section .title h1 {
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
}

#blog-section .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    gap: 15px;
}

#blog-section .blog-container .post-img {
    height: 100%;
    width: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color:  rgba(255, 53, 53, .6);
}