.page-header {
	background: #e1e2e3;
	padding: 20px;
}

.logo {
	font-weight: 700;
	font-size: 2rem;
	transform: scale(0.8);
	width: 80px;
}

.logo__sub {
	font-family: "Dancing Script", cursive;
	font-size: 1.3rem;
}
.content-area {
	background: #a3bef0;
	height: 1500px;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.email-modal--visible {
	visibility: visible;
	opacity: 1;
}
